<div class="row">
    <div class="col-6 ">
        
            <div class="text-center p-5">
                <div class="btn-group-vertical w-50 p-15 mt-5 mb-6" role="group"  style="margin-left: -200px;">
                    <button type="button" class="btn bg-black text-white" >Profile View</button><br>
                    <button type="button" class="btn bg-black text-white" >Balanace Check</button><br>
                    <button type="button" class="btn bg-black text-white">Money Transfer</button><br>
                    <button type="button" class="btn bg-black text-white" >Account Statement</button><br>
                    <button type="button" class="btn bg-black text-white" >Delete Acoount</button><br>
                    <button type="button" class="btn bg-black text-white" >Log out</button><br>
                  </div>
            </div>
        
    
         
    </div>

    <div class="col-6 text-center p-2" style="background-color: white " >
        <h1 style="color:black;" class="p-4"> Enjoy <span style="color:red">UnionBank </span>Services</h1>
        <p class="text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, pariatur error  repudiandae suscipit autem expedita eius deserunt fugiat architecto, distinctio quaerat doloremque delectus in nesciunt veniam quod. Ducimus, voluptatibus iste?</p>
        <img class="mt-5 w-75"
        src="https://i.postimg.cc/x81cMLgK/bank2.jpg" alt="">

    </div>
</div>